---
permalink: /about/
layout: page
title: About
---
<div id="about-hero" class="hero">
  <div class="hero-text">
    <h1>About Empower Tanzania</h1>
  </div>
</div>

<div class="row text-snippet">
  <p>
    <strong>Empower Tanzania is about volunteers.</strong> We have a volunteer Board of Directors and a group of incredible individuals working on committees and leading projects, as well as donating services and expertise. Without these dedicated people, nothing we do would be possible. In addition to our excellent volunteers, we have staff in both the U.S. and Tanzania working to maximize our impact. <strong>Together, we make a difference!</strong>
  </p>
</div>

<div class="even">
  <div class="row">
    <h2 class="text-tertiary text-uppercase">Tanzania Staff</h2>
  </div>
  <div class="row text-tertiary">
    {% for staff in site.data.tz_staff %}
    <div class="col">
      <div class="staff">
        <div class="circle-photo" style="background: url({{site.baseurl}}/assets/images/staff/{{ staff.image }});">
        </div>
        <h5>{{ staff.name }}</h5>
        <h6>{{ staff.position }}</h6>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="odd">
  <div class="row">
    <h2 class="text-tertiary text-uppercase">United States Staff</h2>
  </div>
  <div class="row text-tertiary">
    {% for staff in site.data.us_staff %}
    <div class="col">
      <div class="staff">
        <div class="circle-photo" style="background: url({{site.baseurl}}/assets/images/staff/{{ staff.image }});">
        </div>
        <h5>{{ staff.name }}</h5>
        <h6>{{ staff.position }}</h6>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% include picture-row.html 
  photo1="volunteer1.jpg" 
  photo2="volunteer2.jpg" 
  photo3="volunteer3.jpg" 
  photo4="volunteer4.jpg"
  %}

<div class="hero-text-secondary text-white">
  <div class="row">
    <p class="quote">"It is in your hands to create a better world for all who live in it."  -Nelson Mandela</p>
  </div>
</div>

<div class="row">
  <h2 class="text-tertiary text-uppercase">Board of Directors</h2>
</div>
<div id="board_members" class="row text-tertiary">  
  <div class="col">
    <h3 class="text-uppercase">Officers</h3>
    <ul>
      {% for member in site.data.board_officers %}
      <li>{{ member.name }}, <em>{{ member.position }}</em></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col">
    <h3 class="text-uppercase">Board Members</h3>
    <ul>
      {% for member in site.data.board_members %}
      <li>{{ member.name }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id="wezesha-circle">
  <div id="wezesha-inner">
    <div class="row">
      <h2>Wezesha Circle</h2>
    </div>
    <div class="row">
      <div class="col">
        <ul>
          {% for member in site.data.wezesha_circle limit: 6 %}
          <li>{{ member.name }}</li>
          {% endfor %}
        </ul>
      </div>
  
      <div class="col">
        <ul>
          {% for member in site.data.wezesha_circle limit: 6 offset: 6 %}
          <li>{{ member.name }}</li>
          {% endfor %}
        </ul>
      </div>
  
      <div class="col">
        <ul>
          {% for member in site.data.wezesha_circle limit: 6 offset: 12 %}
          <li>{{ member.name }}</li>
          {% endfor %}
        </ul>
      </div>
  
      <div class="col">
        <ul>
          {% for member in site.data.wezesha_circle offset: 18 %}
          <li>{{ member.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
      <h3>Become part of our community of monthly giving!</h3>
    </div>

    <div class="row">
      <a class="btn btn-info-inverse" href="#">Join</a>
    </div>
  </div>
  
</div>