---
title: Classes & Events
permalink: /classes/
layout: page
---
<div id="classes-hero" class="hero">

    <div class="hero-page-title">
        <h1>{{ page.title }}</h1>
    </div>

</div>

<div id="class-index">

    <div id="class-list" class="row">
        <div class="col">
            <h3>Virtual Workouts</h3>

            <p>
                All of our virtual workouts are tailored to meet the fitness goals and levels of our clients. We have a simple intake questionaire for you to fill out as part of the signing up process and that helps us to prepare and customize the workouts for every client.
            </p>

            <h4>Technical Details</h4>
            
            <p>
                We use Zoom for all of our virtual workouts, with the exception of some virtual Pop Up classes which we use Facebook Live. 
            </p>
            <p>
                Zoom has a free app for whatever device you will be using for the workout and we highly encourage you to have both audio and video turned on so that we can see both your form and smiling face as well as hear you. For payment processing, we use PayPal which does not require you to have a PayPal account setup already or even use one. PayPal accepts both debit and credit cards, in addition to paying with a PayPal account.
            </p>

            <a href="https://app.acuityscheduling.com/schedule.php?owner=16546307&calendarID=2494537" 
                target="_blank" 
                class="btn btn-primary-outline"
                >
                Schedule Workout
            </a>
            <link rel="stylesheet" href="https://embed.acuityscheduling.com/embed/button/16546307.css" id="acuity-button-styles" />
            <script src="https://embed.acuityscheduling.com/embed/button/16546307.js" async></script>
        </div>

        <div class="col">
            <h3>Upcoming Events</h3>
            {% for event in site.events %}
            <div class="class-info event_class_list">
                <h4>{{event.title}}</h4>
                <h5>{{event.date | date_to_long_string}} from {{event.time}} @ {{event.location}}</h5>
                <p>{{event.content}}</p>
            </div>
            {% endfor %}
        </div>

    </div>

</div>

{% include scenic-location.html %}

<script type="text/javascript">
    $('div').dateFilter();
</script>