---
title: Classes & Events
permalink: /classes/
layout: page
---
<div id="classes-hero" class="hero">

    <div class="hero-page-title">
        <h1>{{ page.title }}</h1>
    </div>

</div>

<div id="class-index">

    <div id="class-list" class="row">
        <div class="col">
            <h3>In-Person @ FIT Rx</h3>
            {% for class in site.inperson %}
            
            <div class="class-info event_class_list">
                <h4>{{class.title}}</h4>
                <h5>{{class.days}} | {{class.time}} | {{class.location}}</h5>
                <p>{{class.content}}</p>
            </div>

            {% endfor %}
        </div>
        <div class="col">
            <h3>Virtual via Zoom</h3>

            <h4>Technical Details</h4>
            
            <small>
                We use Zoom for all of our virtual workouts, with the exception of some virtual Pop Up classes which we use Facebook Live. 
            </small>
            <small>
                Zoom has a free app for whatever device you will be using for the workout and we highly encourage you to have both audio and video turned on so that we can see both your form and smiling face as well as hear you.
            </small>
            <br>

            {% for class in site.virtual %}
            
            <div class="class-info event_class_list">
                <h4>{{class.title}}</h4>
                <h5>{{class.days}} | {{class.time}} | {{class.location}}</h5>
                <p>{{class.content}}</p>
            </div>

            {% endfor %}

            <link rel="stylesheet" href="https://embed.acuityscheduling.com/embed/button/16546307.css" id="acuity-button-styles" />
            <script src="https://embed.acuityscheduling.com/embed/button/16546307.js" async></script>
        </div>

        <div class="col">
            <h3>Upcoming Events</h3>

            {% for event in site.events %}
            <div class="class-info event_class_list">
                <h4>{{event.title}}</h4>
                <h5>{{event.date | date_to_long_string}} from {{event.time}} @ {{event.location}}</h5>
                <p>{{event.content}}</p>
            </div>
            {% endfor %}
        </div>

    </div>

</div>

{% include scenic-location.html %}

<script type="text/javascript">
    $('div').dateFilter();
</script>