---
title: Contact
permalink: /contact/
layout: page
---
<div class="row" id="contact">
  <div class="col">
    <h1 class="banner-secondary">Contact</h1>
    <h3>Office Phone</h3>
    <a href="tel:1-563-729-1901" rel="nofollow">563.729.1901</a>
    <h3>Cell Phone</h3>
    <a href="tel:1-563-223-3846" rel="nofollow">563.223.3846</a>
    <h3>Email</h3>
    <script language="JavaScript">
      var username = "jessica";
      var hostname = "fitrx-iowa.com";
      var linktext = username + "@" + hostname ;
      document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
    </script>
  </div>
</div>

<div class="row">
  {% include hours.html %}

  {% include google-map.html latitude=41.586531 longitude=-90.357681 zoom=17 %}
</div>
