---
layout: default
title: Covid-19 Response
permalink: /covid-19response/
---
<div id="covid19-hero" class="hero">
    <div class="hero-text">
        <h1>Protecting the Vulnerable from Covid-19</h1>
    </div>
</div>


<div class="row program-info">
    <p>
        The people we serve in rural Tanzania already live without a safety
        net or access to adequate healthcare. <b>Throughout the entire country of 60
        million people there are less than 50 ICU beds and less than 30 ventilators.</b> In
        the Kilimanjaro Region, where we serve, there is a total of 14 ICU beds and 4
        ventilators.
    </p>
</div>

<div id="covid-donate">
    <div id="covid-donate-inner" class="row">

        <div class="col">
            <p>
                The warnings from experts about the possible devastation throughout Africa has
                cemented our belief that it’s more important than ever to care of one another. We all
                share the same world, and we’re all in this together.
                Our team in Tanzania is moving forward with optimism and trust. We are
                determined to help. If you are able, please join us as we jump to action.
            </p>
            <p>
                Our staff in Tanzania has requested food, soap, and essential PPE. Become a monthly
                supporter by clicking the button below to complete your secure gift. A monthly
                donation will help fulfill these basic needs over the course of this pandemic.
            </p>

            <a class="btn btn-info-inverse" target="_blank" href="https://empowertz.z2systems.com/np/publicaccess/donation.do?1=1&&campaign=20">Become a Monthly Giver</a>

        </div>

    </div>
</div>

<div id="covid-donate-once" class="row">

    <p>
        If you’re able, please help our staff, Community Health Workers &amp; Educators,
        students, farmers, artisans and entrepreneurs stay safe, healthy, and fed during this
        crisis. Even a small gift goes a long way in rural Tanzania.
    </p>

    <div id="color-box-row">

        <div class="col color-box solid-bg-primary">
            <h3>$10</h3>
            <p>PPE for 10 Community Health Workers</p>
        </div>

        <div class="col color-box solid-bg-secondary">
            <h3>$25</h3>
            <p>Food, Soap, Masks for ONE family for one month</p>
        </div>

        <div class="col color-box solid-bg-tertiary">
            <h3>$75</h3>
            <p>Food for FOUR families for one month</p>
        </div>

        <div class="col color-box solid-bg-highlight">
            <h3>$120</h3>
            <p>Soap and Masks for 20 families</p>
        </div>

    </div>

</div>

<div class="row centered-button">
    <a class="btn btn-warning" target="_blank" href="https://empowertz.z2systems.com/np/clients/empowertz/donation.jsp?campaign=3&">Make a One-Time Donation</a>
</div>

{% include picture-row.html 
    photo1="covid4.jpg" 
    photo2="covid2.jpg" 
    photo3="covid3.jpg" 
    photo4="covid1.jpg"
    %}

{% for response in site.covid19_responses reversed %}
<div class="{% cycle 'odd', 'even' %}">
    <div class="row">
        <div class="col one-third">
            <div class="overlay-circle-{% cycle 'secondary', 'success', 'warning', 'highlight', 'info' %}">
                <div class="inner-circle">
                    <h2>{{ response.title }}</h2>
                </div>
            </div>
        </div>
        <div class="col two-thirds">
            {{ response.content }}
        </div>
    </div>
</div>
{% endfor %}

<div class="row">

{% for post in site.categories.covid19 limit:3 %}
    
    {% include post-preview.html %}

{% endfor %}

</div>

<div class="row btn-centered">
    <a class="btn btn-tertiary" href="{{ site.baseurl }}/news&events#filter=.covid19">See all posts</a>
</div>