---
permalink: /programs/health/
layout: page
title: Health
heading: Lack of access to health services in rural areas is a difficult challenge to overcome in Tanzania and Empower Tanzania considers it a major cause preventing economic development and resiliency in a community.
subheading: This lack of access is compounded by limited, often inaccurate, information about healthy behaviors. We address both of these challenges in our projects. Each project has been developed in close cooperation with the people it will serve as well as local government officials and other stakeholders. All of them feature empowerment, especially of women, and all include a strong educational component. As is evidenced in all of our programming, we believe that education changes everything.
---
<div id="health-hero" class="hero">
  <div class="hero-text-success">
    <h1>{{ page.title }}</h1>
  </div>
</div>
<div class="blue-divider-pattern">
  <div class="row program-info">
    <h2>{{ page.heading }}</h2>
    <p>{{ page.subheading }}</p>
  </div>
</div>
{% for program in site.health_programs %}
  <div class="{% cycle 'odd', 'even' %}">
    <div class="row">
      <div class="col one-third">
          <div class="overlay-circle-{% cycle 'secondary', 'success', 'warning', 'highlight', 'info' %}">
              <div class="inner-circle">
                  <h2>{{ program.title }}</h2>
              </div>
            </div>
      </div>
      <div class="col two-thirds">
        {{ program.content }}
      </div>
    </div>
  </div>
{% endfor %}

<div class="row">

  {% for post in site.categories.health limit:3 %}
  
    {% include post-preview.html %}
  
  {% endfor %}

</div>

<div class="row btn-centered">
  <a class="btn btn-tertiary" href="{{ site.baseurl }}/news/">See all posts</a>
</div>