---
permalink: /join/
layout: page
title: Join Us
---
<div id="join-hero" class="hero">
  <div class="hero-text">
    <h1>Connect with Empower Tanzania</h1>
  </div>
</div>

<div class="row text-snippet">
  <p>
    <strong>There are countless ways</strong> to be a part of the life-changing work we do. Getting involved is simple—please join us! The Newton High School Empower Tanzania Club recycles cans and
    sells t-shirts to support the Msindo Kids’ Club. Girl Scout Brownie Troop 6401 sold cookies in support of our Katahe Water Project. 
  </p>
  <p>
    Our supporters give away their birthdays, throw parties in our honor, tell friends about the work we do, and raise
    money for sustainable change in countless creative ways. Consider Empower Tanzania as you plan your next gathering. We’d love to empower you to empower us!
  </p>
</div>

{% include split-box.html 
  left_box_color="warning" 
  left_box_title="Host a Fundraiser" 
  left_box_text="We’ll provide support as you venture to raise funds and awareness for Empower Tanzania! Join the hundreds of volunteers who are raising money for programming in Tanzania."
  left_box_btn="Contact Us" 
  left_box_link="mailto:information@empowertz.org" 
  right_box_color="info" 
  right_box_title="Invite a Speaker"
  right_box_text="We love meeting new people and filling listeners in on the work we do! If you’re part of a group that welcomes speakers, consider inviting Empower Tanzania to share. Whether it’s a Rotary Club, Optimist Club, moms’ morning, school group, church group, or work event, we’d be happy to wow your audience with stories and information. Our goal is to inform and inspire! Contact us about our calendar. We’d love to hear from you!" 
  right_box_btn="Request"
  right_box_link="mailto:information@empowertz.org"
  %}

  {% include split-box.html 
    left_box_color="primary" 
    left_box_title="Follow Us on Social Media" 
    left_box_text="Follow us on Facebook, Twitter, Instagram, and YouTube for up-to-the-minute program activity and organization updates. Like and Share what you see, write your own post about why you love Empower Tanzania, and invite your friends to like our pages. This requires little time, but provides incredible support in our communication efforts." 
    right_box_color="secondary" 
    right_box_title="Start a Club for Kids"
    right_box_text="Are you a teacher who could host an Empower Tanzania Club at your academic institution? Let us know and we’ll help you get started! We can provide expertly crafted curriculum, information, and experience in teaching kids about the larger world." 
    right_box_btn="Contact Us"
    right_box_link="mailto:information@empowertz.org"
    %}

{% include picture-row.html 
  photo1="join1.jpg" 
  photo2="join2.jpg" 
  photo3="join3.jpg" 
  photo4="join4.jpg"
  %}