---
permalink: /news&events/
layout: default
title: News & Events
---
<div class="banner-secondary hero-text">
  <h1>News & Events</h1>
</div>

<div class="teal-divider-pattern">

  <div id="outer-button-group">
    <div class="button-group filter-button-group">
      <button data-filter="*" class="button is-checked">show all</button>
      <button data-filter=".covid19" class="button">covid-19</button>
      <button data-filter=".health" class="button">health for life</button>
      <button data-filter=".development" class="button">economic empowerment</button>
      <button data-filter=".education" class="button">education for tomorrow</button>
      <button data-filter=".news" class="button">news</button>
    </div>
  </div>

  <div id="outer-grid">

    <div class="grid" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "fitRows" }'>

      {% for post in site.posts %}

      {% assign categories = post.categories %}

        {% if post.image %}

          <div class="grid-item preview {{ categories }}" style="background: url({{site.baseurl}}{{ post.image }}); background-size: cover; background-position: center;">
            <div class="bg-{{ categories.first }} text-white">
              <h4>{{ categories }}</h4>
              <a href="{{ post.url }}">
                {{ post.title | truncate: 35 }}
              </a>
            </div>
          </div>

        {% else %}

          <div class="grid-item preview-full-bg bg-{{ categories.first }} {{ categories }}">
            <div class="text-white">
              <h4>{{ categories }}</h4>
              <a href="{{ post.url }}">
                {{ post.title }}
              </a>
            </div>
          </div>

        {% endif %}

      {% endfor %}

    </div>

  </div>
</div>

{% include newsletter.html %}

<script language="JavaScript" type="text/javascript">
  function getHashFilter() {
    // get filter=filterName
    var matches = location.hash.match( /filter=([^&]+)/i );
    var hashFilter = matches && matches[1];
    return hashFilter && decodeURIComponent( hashFilter );
  }
  // init Isotope
  var $grid = $('.grid');
  // bind filter button click
var $filterButtonGroup = $('.filter-button-group');
$filterButtonGroup.on( 'click', 'button', function() {
  var filterAttr = $( this ).attr('data-filter');
  // set filter in hash
  location.hash = 'filter=' + encodeURIComponent( filterAttr );
});

var isIsotopeInit = false;

function onHashchange() {
  var hashFilter = getHashFilter();
  if ( !hashFilter && isIsotopeInit ) {
    return;
  }
  isIsotopeInit = true;
  // filter isotope
  $grid.isotope({
    itemSelector: '.grid-item',
    layoutMode: 'fitRows',
    filter: hashFilter
  });
  // set selected class on button
  if ( hashFilter ) {
    $filterButtonGroup.find('.is-checked').removeClass('is-checked');
    $filterButtonGroup.find('[data-filter="' + hashFilter + '"]').addClass('is-checked');
  }
}

$(window).on( 'hashchange', onHashchange );

// trigger event handler to init Isotope
onHashchange();
</script>