---
permalink: /reproductive/
layout: page
title: Reproductive Health & Relationships Program
---
<div id="reproductive-hero" class="hero">
  <div class="hero-text">
    <h1>Reproductive Health and Relationships Program</h1>
  </div>
</div>

<div id="reproductive-info" class="row">
  
  <div class="col">
    <h2>Overview</h2>

    <p>
        The Reproductive Health and Relationships Program was designed by Empower Tanzania in coordination with the Tanzanian government to provide comprehensive reproductive health and relationships education to all Tanzania students starting with Same District as a pilot area. The primary goals of this program are threefold: (1) To reduce the rate of teen pregnancy,* (2) delay the age of onset for sexual activity, and (3) reduce the rate of sexually transmitted diseases in teenagers.
    </p>
  </div>
  
  <div class="col">
    <h2>Objectives</h2>

    <ul>
      <li>Educate young people about healthy relationships</li>
      <li>Allow young people to ask questions about their bodies, their experiences, and sex</li>
      <li>Educate young people about consent</li>
      <li>Empower young people to say no to unwanted sex</li>
      <li>Empower young people to make good choices and be respectful of themselves and others</li>
      <li>Reduce the risk of sexual assault in young people</li>
      <li>Empower young people to take control of their own sexual health, including contraception</li>
      <li>Inform young people about where to seek help if necessary</li>
    </ul>
  </div>
  
  <div class="col">
    <p>
        For detailed information about the program, including specific training topics, geographic information, and stakeholders, please <a href="{{ site.baseurl }}/assets/downloads/reproductive/RHRPreport-year1.pdf" download="RHRPreport-year1.pdf">click HERE.</a>
      </p>
    
      <small>*Same District has a higher rate of teen pregnancy compared to other districts in Kilimanjaro Region.</small>
  </div>
  
</div>

<div class="row">
  <h2 class="text-tertiary text-uppercase">Downloads</h2>
</div>

<div class="row text-tertiary icons">

  {% for course in site.data.rhrp.courses %}
  <div class="col">
    <a href="{{ site.baseurl }}/assets/downloads/reproductive/{{ course.file_path }}" download="{{ course.file_path }}">
      <i class="fas fa-file-word fa-5x"></i>
    </a>
    <small>{{course.name}}</small>
  </div>
  {% endfor %}
  
</div>

{% include picture-row.html 
  photo1="volunteer1.jpg" 
  photo2="volunteer2.jpg" 
  photo3="volunteer3.jpg" 
  photo4="volunteer4.jpg"
  %}

<div class="row">
  <h2 class="text-tertiary text-uppercase">Videos</h2>
</div>

<div class="row text-tertiary">
  {% for video in site.data.rhrp.video_links %}
  <div class="col">
    <a href="{{video.link}}" target="_blank">
      <i class="fab fa-youtube fa-5x"></i>
    </a>
    <small>{{video.name}}</small>
  </div>
  {% endfor %}
</div>

<div class="row">
  <h2 class="text-tertiary text-uppercase">RHRP Newsletter</h2>
</div>

<div id="rhrp-newsletter">

  <div class="row">

    <a class="btn btn-info-inverse" href="{{ site.baseurl }}/assets/downloads/2018ETIannualreport.pdf" download="2018ETIannualreport">Current Issue</a>

    <a class="btn btn-info-inverse" href="{{ site.baseurl }}/rhrp-archives/">Archives</a>

  </div>
  
</div>