---
permalink: /rhrp-archives/
layout: default
title: Reproductive Health R Program Newsletter Archives
---
<div id="reproductive-hero" class="hero">
  <div class="hero-text">
    <h1>Reproductive Health and Relationships Program</h1>
  </div>
</div>

<div id="rhrp-archives">
  <div class="row">
    <h2>All Newsletter Issues</h2>
  </div>
    
  <div class="row text-tertiary icons">
    {% for newsletter in site.data.rhrp.newsletter.english reversed %}
      <div class="col">
          <a href="{{ site.baseurl }}/assets/downloads/reproductive/newsletter/{{ newsletter.file_path }}" download="{{ newsletter.file_path }}">
            <i class="fas fa-file-pdf fa-5x"></i>
          </a>
        {{newsletter.name}} (English)
      </div>
    {% endfor %}
    
    {% for newsletter in site.data.rhrp.newsletter.swahili reversed %}
      <div class="col">
          <a href="{{ site.baseurl }}/assets/downloads/reproductive/newsletter/{{ newsletter.file_path }}" download="{{ newsletter.file_path }}">
            <i class="fas fa-file-pdf fa-5x"></i>
          </a>
        {{newsletter.name}} (Swahili)
      </div>
    {% endfor %}
  </div>
</div>
