<footer class="main-footer">
  
  <div class="footer-row">

    <ul>
      <li>
        <h3>Column heading here</h3>
      </li>
      <li>
        <a href="{{ site.baseurl }}/">Link text here</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/">Link text here</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/">Link text here</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/">Link text here</a>
      </li>
    </ul>

    <ul>
      <li>
        <h3>Column heading here</h3>
      </li>
      <li>
        <a href="{{ site.baseurl }}/health/">Link text here</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/education/">Link text here</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/">Link text here</a>
      </li>
    </ul>

    <ul>
      <li>
        <h3>Column heading here</h3>
      </li>
      <li>
        <a href="{{ site.baseurl }}/">Link text here</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/">Link text here</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/">Link text here</a>
      </li>
    </ul>

    <ul>
      <li>
        <h3>Column heading here</h3>
      </li>
      <li>
        <a href="{{ site.baseurl }}/">Link text here</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/">Link text here</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/">Link text here</a>
      </li>
    </ul>

    <ul>
      <li>
        <h3>Column heading here</h3>
      </li>
      <li>
        <a href="{{ site.baseurl }}/">Link text here</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/">Link text here</a>
      </li>
    </ul>
    
  </div>

  <div class="row">
    <h4>
      <span>&copy;{{ site.time | date: '%Y' }} {{ site.title }}</span>
      | Company name |
      Info about something else
    </h4>

  </div>

</footer>
