<footer class="main-footer">
  
  <div class="footer-row">

    <ul>
      <li>
        <a href="{{ site.baseurl }}/">Home</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/about/">About</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/trainers/">Meet the Trainers</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/events/">Events</a>
      </li>
    </ul>

    <ul>
      <li>
        <a href="{{ site.baseurl }}/contact/">Contact & Hours</a>
      </li>
      <li>
        <a href="#">My Account</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/terms/">Terms & Conditions</a>
      </li>
    </ul>

    <div>
      <address>
        <ul>
          <li><span>Location</span></li>
          <li>1007 Canal Shore Drive</li>
          <li>Le Claire, IA 52753</li>
          <li><a href="tel:1-563-729-1901" rel="nofollow">563-729-1901</a></li>
        </ul>
      </address>

      {% include social-nav.html %}
    </div>
    
  </div>

  <div class="row">
    <h4>
      <span>&copy;{{ site.time | date: '%Y' }} {{ site.title }}</span>
      FIT Rx |
      Site by Chelsea Liske Design and Blue Bench Digital
    </h4>

  </div>

</footer>
