<header>

  <nav role="navigation">
    <a href="{{ site.baseurl }}{% link index.html %}"><img id="logo" src="{{ site.baseurl }}/assets/images/logo-navbar.png" alt="company logo"></a>
    <div class="nav-link nav-link-toggle">
      <i class="far fa-bars fa-3x"></i>
    </div>

    <ul class="main-nav">
      <li class="nav-link">
        <a href="{{site.baseurl}}/about/" class="{% if page.title == "About" %}active{% endif %}">About</a>
      </li>
      <li class="nav-link">
        <a href="{{site.baseurl}}/classes/" class="{% if page.title == "Classes" %}active{% endif %}">CLasses</a>
      </li>
      <li class="nav-link">
        <a href="{{site.baseurl}}/trainers/" class="{% if page.title == "Meet the Trainers" %}active{% endif %}">Meet the Trainers</a>
      </li>
      <li class="nav-link">
        <a href="{{site.baseurl}}/recipes/" class="{% if page.title == "Recipes" %}active{% endif %}">Recipes</a>
      </li>
      <li class="nav-link">
        <a href="{{site.baseurl}}/contact/" class="{% if page.title == "Contact" %}active{% endif %}">Contact</a>
      </li>
    </ul>

    {% include social-nav.html %}

    <a id="navbar-cta-mobile" class="navbar-cta" href="tel:1-563-729-1901" rel="nofollow">563.729.1901</a>

    <a id="navbar-cta-desktop" class="navbar-cta" href="tel:1-563-729-1901" rel="nofollow">563.729.1901</a>
    
  </nav>

  <div id="announcement"><a href="{{site.baseurl}}/classes/"><h5>SAT VIRTUAL HIIT AT 8AM</h5></a></div>

  <div class="acuity-booking-bar" style="display: none;">
    <a href="https://app.acuityscheduling.com/schedule.php?owner=16546307" 
      target="_blank" 
      class="acuity-embed-button"
      >
        Schedule Workout
    </a>
  </div>
  <script src="https://embed.acuityscheduling.com/embed/bar/16546307.js" async></script>

</header>
