<header>

  <nav>
    <a href="{{ site.baseurl }}{% link index.html %}"><img class="logo" src="/images/logo-navbar.svg" alt="Empowert Tanzania logo"></a>
    <div class="nav-link nav-link-toggle">
      <i class="far fa-bars fa-3x"></i>
    </div>

    <ul class="main-nav">

      {% for item in site.data.navigation %}
      <li>
        <a href="{{ item.link }}" class="nav-link {% if item.link == page.url %}active{% endif %}">
          {{ item.name }}
        </a>
      </li>
      {% endfor %}

    </ul>

    <ul class="social-icon-nav">

      <li class="nav-link">
        <a href="https://www.facebook.com/EmpowerTZ/" target="_blank">
          <span class="fa-stack">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li class="nav-link">
        <a href="https://twitter.com/empowertanzania/" target="_blank">
          <span class="fa-stack">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>  
      </li>

      <li class="nav-link">
        <a href="https://www.youtube.com/EmpowerTZ/" target="_blank">
          <span class="fa-stack">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li class="nav-link">
        <a href="https://www.instagram.com/empower_tanzania/" target="_blank">
          <span class="fa-stack">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li class="nav-link">
        <a href="mailto:information@empowertz.org" target="_blank">
          <span class="fa-stack">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

    </ul>

    <ul class="navbar-right">
      <li class="nav-link">
          <a id="donate-navbar" class="btn btn-orange" href="{{ site.baseurl }} {% link _pages/donate.html %}">Donate</a>
      </li>
    </ul>
    
  </nav>

</header>
