<div id="operation-hours" class="col">
  <h2>Operation Hours</h2>

  <ul>
    <li>
      <h3>Personal Training Sessions</h3>
    </li>
    <li>
      <img src="{{site.baseurl}}/assets/images/calendar-icon.svg" alt="calendar icon">
      by appointment only
    </li>
    <li>
      <img src="{{site.baseurl}}/assets/images/clock-icon.svg" alt="clock icon">
      duration 45 min
    </li>
  </ul>
  <a class="btn btn-primary-outline" href="#">Schedule a Session</a>

  <ul>
    <li>
      <h3>Small Group Training</h3>
    </li>
    <li>
      <img src="{{site.baseurl}}/assets/images/calendar-icon.svg" alt="calendar icon">
      classes at pre-designated times
    </li>
    <li>
      <img src="{{site.baseurl}}/assets/images/clock-icon.svg" alt="clock icon">
      duration 30 min
    </li>
    <li>
      6:30 am | 8:30 am | 12 pm | 4:30 pm | 5:30 pm
    </li>
  </ul>

  <a class="btn btn-primary-outline" href="#">Sign up for a class</a>

</div>