<div id="operation-hours" class="col">
  <h2>Operation Hours</h2>

  <ul>
    <li>
      <h3>Personal Training Sessions</h3>
    </li>
    <li>
      <img src="{{site.baseurl}}/assets/images/calendar-icon.svg" alt="calendar icon">
      by appointment only
    </li>
    <li>
      <img src="{{site.baseurl}}/assets/images/clock-icon.svg" alt="clock icon">
      duration 45 min
    </li>
  </ul>
  <script language="JavaScript">
    var username = "tara";
    var hostname = "fitrx-iowa.com";
    var linktext = "Schedule a Session";
    document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'" + "class='btn btn-primary-outline'>" + linktext + "</a>");
  </script>

  <ul>
    <li>
      <h3>Small Group Training</h3>
    </li>
    <li>
      <img src="{{site.baseurl}}/assets/images/calendar-icon.svg" alt="calendar icon">
      <script language="JavaScript">
        var username = "jessica";
        var hostname = "fitrx-iowa.com";
        var linktext = "contact us for more info" ;
        document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
      </script>
    </li>
    <li>
      <img src="{{site.baseurl}}/assets/images/clock-icon.svg" alt="clock icon">
      duration 30-45 min
    </li>
  </ul>

  <a class="btn btn-primary-outline" href="{{site.baseurl}}/classes/">Sign Up for Classes</a>
</div>