<div id="volunteers" class="picture-row">
  <div id="volunteer1" class="volunteer-photo" style="background-image: url({{site.baseurl}}/assets/images/volunteer1.jpg);"></div>
  <div id="volunteer2" class="volunteer-photo" style="background-image: url({{site.baseurl}}/assets/images/volunteer2.jpg);"></div>
  <div id="volunteer3" class="volunteer-photo" style="background-image: url({{site.baseurl}}/assets/images/volunteer3.jpg);"></div>
  <div id="volunteer4" class="volunteer-photo" style="background-image: url({{site.baseurl}}/assets/images/volunteer4.jpg);"></div>
</div>