{% assign categories = post.categories %}
    <div class="col">

      {% if post.image %}

        <div class="preview {{ categories }}" style="background-image: url({{site.baseurl}}{{ post.image }}); background-size: cover; background-position: center;">
          <div class="bg-{{ categories.first }} text-white">
            <h4>{{ categories }}</h4>
            <a href="{{ post.url }}">
              {{ post.title | truncate: 35 }}
            </a>
          </div>
        </div>

      {% else %}

        <div class="preview-full-bg bg-{{ categories.first }} {{ categories }}">
          <div class="text-white">
            <h4>{{ categories }}</h4>
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </div>
        </div>

      {% endif %}

    </div>