<div id="programs-highlight">
  <div class="row">
      <h2 class="text-white">What We Do</h2>
  </div>
  
  <div id="circle-row">
    <a href="{{ site.baseurl }}/programs/health/" class="text-white">
      <div class="circle-success circle-button">
        <div class="inner-circle">
            Health for Life
        </div>
      </div>
    </a>

    <a href="{{ site.baseurl }}/programs/economicempowerment/" class="text-white">
      <div class="circle-secondary circle-button">
        <div class="inner-circle">
          Economic Empowerment
        </div>
      </div>
    </a>

    <a href="{{ site.baseurl }}/programs/educationfortomorrow/" class="text-white">
      <div class="circle-warning circle-button">
        <div class="inner-circle">
          Education for Tomorrow
        </div>
      </div>
    </a>
    
  </div>

</div>