<div id="programs">
  <div class="row">
      <h2 class="text-white">What We Do</h2>
  </div>
  
  <div class="row">
    <a href="#" class="text-white">
      <div class="circle-success circle-button">
        <div class="inner-circle">
            Health
        </div>
      </div>
    </a>

    <a href="#" class="text-white">
      <div class="circle-secondary circle-button">
        <div class="inner-circle">
          Economic Development
        </div>
      </div>
    </a>

    <a href="#" class="text-white">
      <div class="circle-warning circle-button">
        <div class="inner-circle">
          Education
        </div>
      </div>
    </a>
    
  </div>

</div>