<ul class="social-icon-nav">
  <li class="nav-link">
    <a href="https://www.facebook.com/FITRxIOWA/" target="_blank">
      <span class="fa-stack">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li class="nav-link">
    <a href="https://www.instagram.com/fitrx_iowa/" target="_blank">
      <span class="fa-stack">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
</ul>