<div class="full-width text-white">
  <div class="col bg-{{ include.left_box_color }} split-box">
    <h2 class="font-accent">{{ include.left_box_title }}</h2>
    <p>{{ include.left_box_text }}</p>
    {% if include.left_box_btn %}
      <a class="btn btn-{{ include.left_box_color }}-inverse" href="{{ include.left_box_link }}" target="_blank">{{ include.left_box_btn }}</a>
    {% endif %}
  </div>
  <div class="col bg-{{ include.right_box_color }} split-box">
    <h2 class="font-accent">{{ include.right_box_title }}</h2>
    <p>{{ include.right_box_text }}</p>

    {% if include.two_button_line %}
      <div class="two-button-line">
        <a class="btn btn-{{ include.right_box_color }}-inverse" href="{{ include.right_box_link }}" target="_blank">{{ include.right_box_btn }}</a>
        <a class="btn btn-{{ include.right_box_color }}-inverse" href="{{ include.right_box_link2 }}" target="_blank">{{ include.right_box_btn2 }}</a>
      </div>
    {% else %}
      <a class="btn btn-{{ include.right_box_color }}-inverse" href="{{ include.right_box_link }}" target="_blank">{{ include.right_box_btn }}</a>
    {% endif %}
  </div>
</div>