<div class="full-width text-white">
  <div class="col bg-info split-box">
    <h2 class="font-accent">Shop</h2>
    <p>Some text about shopping online here</p>
    <a class="btn btn-info-inverse" href="https://squareup.com/store/empower-tanzania">Shop Now</a>
  </div>
  <div class="col bg-warning split-box">
    <h2 class="font-accent">Donate</h2>
    <p>Some text about donating goes here</p>
    <div class="two-button-line">
      <a class="btn btn-warning-inverse" href="#">Donate Once</a>
      <a class="btn btn-warning-inverse" href="#">Donate Monthly</a>
    </div>
  </div>
</div>