/* =================================
  Base Element Styles
==================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  line-height: 1.28;
  display: flex;
  /*--- Sticky footer ---*/
  flex-direction: column;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: 1.375em;
  font-weight: 400;
  margin-bottom: 1.8em;
}

h1 {
  font-size: 3.75em;
}

h2 {
  font-size: 2.813em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
