/* =================================
  Base Element Styles
==================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-main;
  line-height: 1.28;
  display: flex;
  /*--- Sticky footer ---*/
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: white;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 1.8em;
}
h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 2.25em;
  font-weight: 900;
}
h3 {
  font-size: 1.25em;
  font-weight: 400;
}
h4 {
  font-size: 0.875em;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.text-white {
  color: white;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary;
}
.text-tertiary {
  color: $tertiary;
}
.font-accent {
  font-family: $font-accent;
}
.bg-primary {
  @include solid-bg($primary);
}
.bg-secondary {
  @include solid-bg($secondary);
}
.bg-success {
  @include solid-bg($success);
}
.bg-warning {
  @include solid-bg($warning);
}
.bg-info {
  @include solid-bg($info);
}
.bg-highlight {
  @include solid-bg($highlight);
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  h1 {
    font-size: 3.75em;
  }
  h2 {
    font-size: 2.813em;
  }
  h3 {
    font-size: 1.563em;
  }
  p {
    font-size: 1.375em;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}