@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}
@mixin button-inverse($bg) {
  color: $bg;
  background: white;
  &:hover {
    background:darken(white,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken(white,25%);
  }
}
@mixin button-outline($color) {
  color: $color;
  border-width: 2px;
  border-style: solid;
  border-color: $color;
  background: none;
  &:hover {
    background:lighten($color,8%);
    transition: all 0.3s ease;
    color: white;
    border-color: white;
  }
  &:active {
    background: lighten($color,25%);
    color: white;
    border-color: white;
  }
}
.btn {
  font-family: $font-alt;
  font-size: 1.5em;
  font-weight: 400;
  color: white;
  text-align: center;
  display: inline-block;
  padding: .5em 1.5em;
  text-transform: uppercase;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-centered {
  justify-content: center;
}
.btn-primary {
  @include button-bg($primary);
}
.btn-primary-inverse {
  @include button-inverse($primary);
}
.btn-primary-outline {
  @include button-outline($primary);
}
.btn-secondary {
  @include button-bg($secondary);
}
.btn-secondary-inverse {
  @include button-inverse($secondary);
}
.btn-tertiary {
  @include button-bg($tertiary);
 }
.btn-tertiary-inverse {
  @include button-inverse($tertiary);
}
.btn-warning {
  @include button-bg($warning);
}
.btn-warning-inverse {
 @include button-inverse($warning); 
}
.btn-success {
  @include button-bg($success);
}
.btn-success-inverse {
  @include button-inverse($success);
}
.btn-info {
  @include button-bg($info);
}
.btn-info-inverse {
  @include button-inverse($info);
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .btn {
    margin: 20px 0;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}