.circle-success {
  @include circle-gradient-bg($success, 200px);
}
.circle-secondary {
  @include circle-gradient-bg($secondary, 200px);
}
.circle-warning {
  @include circle-gradient-bg($warning, 200px);
}
.overlay-circle-success {
  @include circle-gradient-overlay($success, 250px);
}
.overlay-circle-secondary {
  @include circle-gradient-overlay($secondary, 250px);
}
.overlay-circle-warning {
  @include circle-gradient-overlay($warning, 250px);
}
.overlay-circle-info {
  @include circle-gradient-overlay($info, 250px);
}
.overlay-circle-highlight {
  @include circle-gradient-overlay($highlight, 250px);
}
.inner-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  h2 {
    color: white;
    font-size: 1.25em;
  } 
}
#circle-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #circle-row {
    flex-direction: row;
    justify-content: space-around;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .circle-success {
    @include circle-gradient-bg($success, 300px);
  }
  .circle-secondary {
    @include circle-gradient-bg($secondary, 300px);
  }
  .circle-warning {
    @include circle-gradient-bg($warning, 300px);
  }
  .overlay-circle-success {
    @include circle-gradient-overlay($success, 350px);
  }
  .overlay-circle-secondary {
    @include circle-gradient-overlay($secondary, 350px);
  }
  .overlay-circle-warning {
    @include circle-gradient-overlay($warning, 350px);
  }
  .overlay-circle-info {
    @include circle-gradient-overlay($info, 350px);
  }
  .overlay-circle-highlight {
    @include circle-gradient-overlay($highlight, 350px);
  }
  .inner-circle {
    h2 {
      font-size: 1.875em;
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}

@media (min-width: 1600px) {
  .circle-success {
    @include circle-gradient-bg($success, 350px);
  }
  .circle-secondary {
    @include circle-gradient-bg($secondary, 350px);
  }
  .circle-warning {
    @include circle-gradient-bg($warning, 350px);
  }
  .overlay-circle-success {
    @include circle-gradient-overlay($success, 400px);
  }
  .overlay-circle-secondary {
    @include circle-gradient-overlay($secondary, 400px);
  }
  .overlay-circle-warning {
    @include circle-gradient-overlay($warning, 400px);
  }
  .overlay-circle-info {
    @include circle-gradient-overlay($info, 400px);
  }
  .overlay-circle-highlight {
    @include circle-gradient-overlay($highlight, 400px);
  }
}