.split-box {
  align-items: center;
  padding: 30px 30px;
  width: 100%;
  p {
    text-align: center;
  }
  h2 {
    margin-bottom: 20px;
  }
  .two-button-line {
    display: flex;
    flex-direction: column;
    a {
      margin: 10px;
    }
  }
}
.font-main {
  font-family: $font-main;
}
.gray-background {
  background-color:lightgray;
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  
}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  
}
@media (min-width: 1050px) {
  
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}
@media (min-width: 1600px) {
  .split-box .two-button-line {
    flex-direction: row;
  }
}
@media (min-width: 1750px) {
 
}