.split-box {
  align-items: center;
  justify-content: flex-start;
  padding: 30px 30px;
  width: 100%;
  p {
    text-align: center;
  }
  h2 {
    margin-bottom: 20px;
  }
  .two-button-line {
    display: flex;
    flex-direction: column;
    a {
      margin: 10px;
    }
  }
}
.solid-bg-primary {
  @include solid-bg($primary);
}
.solid-bg-secondary {
  @include solid-bg($secondary);
}
.solid-bg-tertiary {
  @include solid-bg($tertiary);
}
.solid-bg-highlight {
  @include solid-bg($highlight);
}
.solid-bg-white {
  @include solid-bg(white);
}
#bigger-h2 {
  font-size: 2.5em;
}
#home-split-box {
  h2 {
    font-family: $font-main;
    text-align: center;
  }
  .col {
    justify-content: space-between;
  }
}
.covid-response-row {
  justify-content: center;
  h2 {
    color: $highlight;
    text-transform: uppercase;
    font-size: 1.75em;
    margin-bottom: 20px;
  }
  p {
    color: $tertiary;
    text-align: center;
    margin-bottom: 0;
  }
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  
}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  
}
@media (min-width: 1050px) {
  
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}
@media (min-width: 1600px) {
  .split-box .two-button-line {
    flex-direction: row;
  }
}
@media (min-width: 1750px) {
 
}