/* =================================
  Page Elements
==================================== */
.hero {
  height: 85vh;
  background-image: url('/images/hero.jpg');
  background-size: cover;
  background-position: top;
  color: white;
  text-transform: uppercase;
}
.btn {
  font-family: $font-accent;
  color: white;
  text-align: center;
  padding: .625em 1.25em;
}
