.border li {
  border-top: 2px solid $tertiary;
  line-height: 3em;
}
.border li:last-of-type {
  border-bottom: 2px solid $tertiary;
}
.main-footer {
  background-color: $secondary;
  .footer-row {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    ul {
      margin: 15px 30px;
    }
  }
  padding: 1em 0;
  line-height: 1.667;
  a {
    font-weight: 400;
    color: white;
  }
  li a {
    font-size: 1.125em;
  }
  a:hover {
    color: $tertiary;
  }
  .row {
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
  address {
    font-style: normal;
    span {
      color: $primary;
      font-family: $font-alt;
    }
    i {
      padding-left: 0;
    }
  }
  i.fa-facebook-f {
    color: $secondary;
  }
  i.fa-facebook-f:hover {
    color: white;
  }
  #footer-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .social-icon-nav {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #white-logo {
    margin-top: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  #copyright {
    font-size: .75em;
  }
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-footer {
    .footer-row {
      flex-direction: row;
      flex-wrap: wrap;
    }
    li a {
      font-size: 1.375em;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  address {
    font-size: 1.25em;
  }
}
@media (min-width: 1050px) {
 
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .main-footer {
    .footer-row {
      padding-left: 100px;
      justify-content: space-between;
    }
    ul {
      width: 300px;
    }
    #white-logo {
      padding-right: 30px;
    }
  }
}
@media (min-width: 1400px) {
  
}
@media (min-width: 1750px) {

}