.main-footer {
  background-color: white;
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
    ul {
      margin: 15px 30px;
    }
    color: white;
    background-image: 
      url("../images/metal-footer.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    h4 {
      font-weight: 400;
    }
  }
  padding: 1em 0;
  line-height: 1.667;
  text-transform: uppercase;
  a {
    font-weight: 400;
    color: white;
  }
  a:hover {
    color: $warning;
  }
  .row {
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-footer {
    .footer-row {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
@media (min-width: 1050px) {
 
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .main-footer {
    .footer-row {
      justify-content: space-evenly;
    }
  }
}
@media (min-width: 1400px) {
  
}
@media (min-width: 1750px) {
 
}