.main-footer {
  background-color: white;
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    ul {
      margin: 15px 30px;
    }
  }
  padding: 1em 0;
  line-height: 1.667;
  text-transform: uppercase;
  h3 {
    font-weight: 700;
    color: $highlight;
  }
  h4, a {
    font-weight: 400;
    color: $tertiary;
  }
  li a {
    font-size: 1.125em;
  }
  a:hover {
    color: $warning;
  }
  .row {
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
}
//This social-icon-nav is repetitive but necessary due to ETI structure. Probably restructure in future.
.social-icon-nav a {
  color: $primary;
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-footer {
    .footer-row {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
@media (min-width: 1050px) {
 
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .main-footer {
    .footer-row {
      justify-content: space-evenly;
    }
  }
}
@media (min-width: 1400px) {
  
}
@media (min-width: 1750px) {
 
}