/* =================================
  Base Layout Containers
==================================== */
.row, .col, .full-width {
  display: flex;
}
.row {
  flex-wrap: wrap;
  flex: 1;
  width: 90%;
  margin: 20px auto;
  padding: 10px 20px;
}
.full-width {
  flex-wrap: wrap;
  flex: 1;
}
/*as long as there is a 'row' class div in the body on the page,
there will be a sticky footer due to 'body' min-height and 'row' flex:1*/
.col {
  flex-direction: column;
  padding-right: 1em;
  padding-left: 1em;
}
.main-footer {
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    ul {
      margin: 15px 30px;
    }
  }
  padding: 1em 0;
  margin-top: 30px;
  line-height: 1.667;
  text-transform: uppercase;
  h3 {
    font-weight: 700;
    color: $highlight;
  }
  h4, a {
    font-weight: 400;
    color: $tertiary;
  }
  li a {
    font-size: 1.125em;
  }
  a:hover {
    color: $warning;
  }
  .row {
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
}
@mixin circle-gradient-bg($bg) {
  background: rgba($bg, 0.85);
  width: 300px;
  height: 300px;
  margin: .5em;
  border-radius: 50%;
}
.circle-success {
  @include circle-gradient-bg($success);
}
.circle-secondary {
  @include circle-gradient-bg($secondary);
}
.circle-warning {
  @include circle-gradient-bg($warning);
}
.inner-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
/* =================================
  Page Elements - Home and _includes
==================================== */
.hero {
  height: 85vh;
  background-size: cover;
  background-position: top;

  color: white;
  text-transform: uppercase;
  .row {
    justify-content: center;
  }
  h1 {
    position: absolute;
    bottom: 20px;
  }
}
#home-hero {
  background-image: 
    linear-gradient(
      to top,
      rgba(black, 0.9),
      rgba(black, 0)),
    url('./../images/hero.jpg');
}
#about {
  background: 
    linear-gradient(
      rgba($secondary, 0.85),
      rgba($secondary, 0.85)
    ),
    url('./../images/people-hugging-bwfaded.jpg');
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: center, 50% center;
  
  padding: 50px 0;

}
#events {
  background-image: url('./../images/striped-rectangle.png');
  background-size: cover;
  background-position: top;
  padding: 100px 0px;
  .event-info {
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 0;
  }
}
#programs {
  background-image: url('./../images/people-in-field.jpg');
  background-size: cover;
  background-position: bottom;
  text-transform: uppercase;
  .row {
    margin-top: 0;
    padding-top: 0;
    justify-content: center;
  }
  h2 {
    background-color: $warning;
    padding: 20px 40px;
  }
  a {
    font-size: 1.5em;
  }
}
#shop, #donate {
  align-items: center;
  padding: 30px 0px;
  h2 {
    margin-bottom: 20px;
  }
  .two-button-line {
    a {
      margin: 0 10px;
    }
  }
}
#shop {
  background-color: $info;
}
#donate {
  background-color: $warning;
}
#newsletter {
  background-image: 
    url('./../images/orange-divider-pattern.png'),
    url('./../images/horizon-gradient.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, cover;
  background-position: 50% -5px, bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  h2 {
    text-transform: uppercase;
    color: $success;
    font-weight: 700;
    margin-bottom: 30px;
  }
  form {
    margin-bottom: 30px;
    text-align: center;
  }
}
/* =================================
  Page Elements - Home and _includes
==================================== */
#programs-hero {
  background-image: 
    linear-gradient(
      to top,
      rgba(black, 0.9),
      rgba(black, 0)),
    url('./../images/hero.jpg')
  ;
}
#program-subheads {
  background: url('./../images/programs-purple-overlay.png');
  background-position: top center;
  background-size: cover;
  .row {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
#programs-snippet {
  font-size: 1.4em;
  padding-top: 100px;
  padding-bottom: 50px;
  span {
    font-weight: 700;
  }
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .col {
    flex: 1 50%;
    flex-direction: column;
  }
  .row {
    flex-wrap: wrap;
  }
  .main-footer {
    .footer-row {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  #about, #events {
    .btn {
      align-self: flex-start;
    }
  }
  #programs a {
    font-size: 2.25em;
  }
  #newsletter {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  #programs-hero {
    h1 {
      font-size: 5.625em;
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .row {
    width: 80%;
    max-width: 1150px;
    }
    .col {
      flex-basis: 0;
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .main-footer {
    .footer-row {
      justify-content: space-evenly;
    }
  }
}