/* =================================
  Base Layout Containers
==================================== */
.row, .col, .full-width {
  display: flex;
}
.row {
  flex-wrap: wrap;
  flex: 1;
  width: 90%;
  margin: 20px auto;
  padding: 10px 20px;
}
.full-width {
  flex-wrap: wrap;
  flex: 1;
}
/*as long as there is a 'row' class div in the body on the page,
there will be a sticky footer due to 'body' min-height and 'row' flex:1*/
.col {
  flex-direction: column;
  padding-right: 1em;
  padding-left: 1em;
}
.main-footer {
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    ul {
      margin: 15px 30px;
    }
  }
  padding: 1em 0;
  margin-top: 30px;
  line-height: 1.667;
  text-transform: uppercase;
  h3 {
    font-weight: 700;
    color: $highlight;
  }
  h4, a {
    font-weight: 400;
    color: $tertiary;
  }
  li a {
    font-size: 1.125em;
  }
  a:hover {
    color: $warning;
  }
  .row {
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
}
/* =================================
  Page Elements
==================================== */
.hero {
  height: 85vh;
  background-image: url('/images/hero.jpg');
  background-size: cover;
  background-position: top;
  color: white;
  text-transform: uppercase;
  h1 {
    position: absolute;
    bottom: 20px;
  }
}
#about {
  margin-top: -50px;
  background-image: url('/images/teal-overlay.png');
  background-size: cover;
  background-position: top;
  min-height: 960px;
  padding-top: 100px;
}
#events {
  background-image: url('/images/striped-rectangle.png');
  background-size: cover;
  background-position: top;
  padding: 100px 0px;
}
#programs {
  background-image: url('/images/people-in-field.jpg');
  background-size: cover;
  background-position: bottom;
  min-height: 500px;
}
#shop {
  background-color: $info;
}
#donate {
  background-color: $warning;
}
#newsletter {
  background-image: url('/images/horizon-gradient.jpg');
  background-size: cover;
  background-position: bottom;
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .col {
    flex: 1 50%;
    flex-direction: column;
  }
  .row {
    flex-wrap: wrap;
  }
  .main-footer {
    .footer-row {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .row {
    width: 80%;
    max-width: 1150px;
    }
    .col {
      flex-basis: 0;
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .main-footer {
    .footer-row {
      justify-content: space-evenly;
    }
  }
}