nav,
.main-nav,
.social-icon-nav,
.nav-btn {
  display: flex;
}
nav,
.main-nav {
  flex-direction: column;
}
nav {
  align-items: center;
  width: 95%;
  margin: 20px auto;
  padding: 10px 20px;
  }
.logo {
  width: 80%;
}
.main-nav {
  display: none;
  margin-top: 5px;
}
.main-nav a {
  display: block;
  padding: 10px 15px;
  font-size: 1.25em;
  font-weight: 500;
  color: $tertiary;
  text-transform: uppercase;
}
.main-nav a.nav-link.active {
  color: $warning;
}
.social-icon-nav a {
  color: $primary;
}
.main-nav a:hover, .social-icon-nav a:hover {
  color: $warning;
}
.social-icon-nav, .nav-btn {
  display: flex;
  justify-content: center;
}
.social-icon-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav-btn {
  font-size: 1.35em;
  font-weight: 700;
  background-color: $warning;
  display: block;
  width: 100%;
}
.nav-btn:hover {
  background-color: $primary;
}
.nav-link-toggle {
  align-self: flex-end;
  display: initial;
  position: absolute;
  top: 35px;
  right: 15px;
  cursor: pointer;
}
.nav-toggle-show {
  display: flex;
}
.dropdown li {
  margin-left: 20px;
}
.dropdown li:hover, .dropdown li:focus-within {
  background:darken(white,8%);
  cursor: pointer;
}
.dropdown li:focus-within a {
  outline: none;
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .logo {
    width: 90%;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .logo {
    width: 100%;
  }
  .main-nav {
    display: flex;
    flex-direction: row;
  }
  .nav-btn {
    font-size: 3em;
    width: auto;
    padding: 10px 30px;
  }
  .nav-link-toggle {
    display: none;
  }
  nav {
    flex-direction: row;
    justify-content: space-around;
  }
  /* Dropdown */
  .dropdown li {
    margin-left: 0px;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    transition-duration: 0.5s;
  }
  ul li ul {
    background: white;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
  }
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
  }
  ul li ul li {
    clear: both;
    width: 100%;
  }
}