nav,
.main-nav {
  display: flex;
}
nav,
.main-nav {
  flex-direction: column;
}
nav {
  margin: 20px auto;
  padding: 10px 20px;
}
#logo {
  width: 100px;
}
.main-nav {
  display: none;
  margin-top: 5px;
}
.main-nav a {
  display: block;
  padding: 10px 15px;
  font-size: 1.25em;
  font-weight: 500;
  color: $secondary;
  text-transform: uppercase;
}
.main-nav a.nav-link.active {
  color: $warning;
}
.main-nav a:hover {
  color: $primary;
}
.nav-link-toggle {
  align-self: flex-end;
  display: initial;
  position: absolute;
  top: 35px;
  right: 15px;
  cursor: pointer;
}
.nav-toggle-show {
  display: flex;
}
.navbar-cta {
  color: $primary;
  font-weight: 700;
}
.navbar-cta:hover {
  color: $secondary;
}
#navbar-cta-mobile {
  margin-top: 20px;
  font-size: 1.875em;
  text-align: center;
}
#navbar-cta-desktop {
  display: none;
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  
}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  nav {
    width: 80%;
  }
  .main-nav {
    display: flex;
    flex-direction: row;
  }
  .nav-link-toggle {
    display: none;
  }
  #navbar-cta-mobile {
    display: none;
  }
  #navbar-cta-desktop {
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 40px;
    font-size: 1.875em;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #logo {
    width: 150px;
  }
  nav {
    flex-direction: row;
    justify-content: center;
    width: 90%;
  }
  .main-nav a {
    font-size: 1.375em;
    align-items: center;
  }
  .main-nav {
    margin-top: 30px;
  }
  #navbar-cta-desktop {
    position: static;
    margin-left: auto;
    margin-top: 35px;
  }
  .nav-link {
    margin: 0 20px;
  }
}