.banner-success {
  @include transparent-bg($success, 1.0);
  @include banner(30px);
}
.banner-secondary {
  @include transparent-bg($secondary, 1.0);
  @include banner(30px);
}
.banner-warning {
  @include transparent-bg($warning, 1.0);
  @include banner(30px);
}
.hero {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 249px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.hero-text {
  padding-bottom: 30px;
  color: white;
  text-transform: uppercase;
}
.hero-text-success {
  @include color-bg($success);
}
.hero-text-secondary {
  @include color-bg($secondary);
}
.hero-text-warning {
  @include color-bg($warning);
}
/* Specific elements on different pages */
#home-hero {
  background-image: 
    linear-gradient(
      to top,
      rgba(black, 0.9),
      rgba(black, 0));
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 15px;
}
#home-about {
  background: 
    linear-gradient(
      rgba($secondary, 0.85),
      rgba($secondary, 0.85)
    ),
    url('./../images/people-hugging-bwfaded.jpg');
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: center, 50% center;
  
  padding: 50px 0;
  figure {
    margin-top: 15px;
  }
}
#programs-highlight {
  background-image: url('./../images/people-in-field.jpg');
  background-size: cover;
  background-position: bottom;
  text-transform: uppercase;
  min-height: 80vh;
  .row {
    margin-top: 0;
    padding-top: 0;
    justify-content: center;
  }
  h2 {
    background-color: $warning;
    padding: 20px 40px;
  }
  a {
    font-size: 1.5em;
  }
}
#programs-hero {
  background-image: 
    linear-gradient(
      to top,
      rgba(black, 0.9),
      rgba(black, 0)),
    url('./../images/hero.jpg')
  ;
}
#program-subheads {
  background: url('./../images/programs-purple-overlay.png');
  background-position: top center;
  background-size: cover;
  .row {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
#programs-snippet {
  font-size: 1.4em;
  padding-top: 100px;
  padding-bottom: 50px;
  span {
    font-weight: 700;
  }
}
#health-hero {
  background-image: url('./../images/health-hero.jpg');
}
.blue-divider-pattern {
  background-image: url('./../images/blue-divider-pattern.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% -5px;
}
#development-hero {
  background-image: url('./../images/development.jpg');
}
.orange-divider-pattern {
  background-image: url('./../images/orange-divider-pattern.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% -5px;
}
#education-hero {
  background-image: url('./../images/education.jpg');
}
.teal-divider-pattern {
  background-image: url('./../images/teal-divider-pattern.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% -5px;
}
.program-info {
  padding-top: 100px;
  padding-bottom: 50px;
  h2 {
    color: $highlight;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
  }
  p {
    color: $tertiary;
  }
  
}
.odd {
  background-color: #e5e3e3;
}
.even {
  background-color: #f6f5f5;
}
#newsletter {
  background-image: 
    url('./../images/orange-divider-pattern.png'),
    url('./../images/horizon-gradient.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, cover;
  background-position: 50% -5px, bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  h2 {
    text-transform: uppercase;
    color: $success;
    font-weight: 700;
    margin-bottom: 30px;
  }
  form {
    margin-bottom: 30px;
    text-align: center;
  }
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  
}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #home-about {
    .btn {
      align-self: flex-start;
    }
  }
  #programs-highlight a {
    font-size: 2.25em;
  }
  #newsletter {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  #programs-hero {
    h1 {
      font-size: 5.625em;
    }
  }
  .program-info {
    h2 {
      font-size: 1.875em;
    }
    p {
      font-size: 1.5em;
    }
  }
}
@media screen and (max-device-width: 800px) {
// Switch off hero video on small screens
  #home-hero {
    background: url('./../images/jumping_frame.jpg') #000 no-repeat center center fixed;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  
}
@media (min-width: 1050px) {
  
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .hero {
    height: calc(100vh - 181px);
  }
}
@media (min-width: 1400px) {
  
}
@media (min-width: 1750px) {
  
}