.hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.hero-text {
  padding-bottom: 30px;
}
.hero-text-success {
  @include color-bg($success);
}
.hero-text-secondary {
  @include color-bg($secondary);
}
.hero-text-warning {
  @include color-bg($warning);
}
/* hero images on different pages */
#home_hero {
  background-image: 
  linear-gradient(
      to top,
      rgba(black, 0.3),
      rgba(black, 0.9)),
    url('./../images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 15px;
  z-index: 0;
  .logo {
    width: 50%;
  }
  h1 {
    color: white;
  }
}
span.accent-text {
  font-family: $font-accent;
  font-weight: 400;
  font-size: 2.5em;
}
span.big-text {
  font-size: 2em;
}
#our_brewery {
  align-items: center;
  h2 {
    text-align: center;
  }
  width: 100%;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 40px;
  background-image: url('./../images/brushed-metal.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center top;
  text-transform: uppercase;
  h2 {
    padding: 20px;
  }
  .col {
    padding: 15px;
    ul {
      padding-left: 10px;
      li {
        margin-top: 5px;
      }
    }
  }
  a {
    color: $secondary;
    font-weight: 600;
  }
  a:hover {
    color: $primary;
  }
  .btn {
    color: white;
  }
  .btn:hover {
    color: lightgray;
  }
}
#our_beer {
  img {
    margin-top: 20px;
  }
  h2 {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  justify-content: center;
  .col {
    align-items: center;
    h3 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 1.75em;
      text-transform: uppercase;
      color: $tertiary;
    }
  }
  a {
    font-family: $font-accent;
    font-size: 2em;
  }
}
#core_beers {
  .col {
    justify-content: start;
    margin-bottom: 20px;
  }
}
#our_story {
  background-image: 
  linear-gradient(
      to top,
      rgba(black, 0.4),
      rgba(black, 0.4)),
  url('./../images/ourstory.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: white;
  min-height: 300px;
  margin-bottom: 0px;
  justify-content: center;
  h2 {
    text-transform: uppercase;
    font-size: 1.5em;
  }
  h3 {
    font-family: $font-accent;
    font-size: 2em;
    color: $primary;
  }
  .col {
    justify-content: space-evenly;
    align-items: center;
  }
  p:first-of-type {
    margin-top: 30px;
  }
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #home_hero .logo {
    width: 20%;
  }
  #our_brewery .row {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  #hours {
    border-right: 1px solid $secondary;
  }
}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #home_hero .logo {
    width: 33%;
  }
  #our_beer .row {
    flex-direction: row;
  }
}
@media screen and (max-device-width: 800px) {

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #home_hero .logo {
    width: 300px;
  }
  #our_brewery .row {
    width: 70%;
  }
  #our_story {
    height: 75vh;
    h2 {
      padding-top: 30px;
      padding-bottom: 40px;
      font-size: 2.25em;
    }
    img {
      margin-bottom: 20px;
    }
  }
}
@media (min-width: 1050px) {
  
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
  #our_story {
    height: 50vh;
  }
}
@media (min-width: 1750px) {
  
}
@media (min-width: 2000px) {

}