.preview {
  padding: 0;
  width: 300px;
  height: 300px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  h4 {
    text-transform: uppercase;
  }
  a {
    color: white;
  }
}
.preview-full-bg {
  padding: 0;
  width: 300px;
  height: 300px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h4 {
    text-transform: uppercase;
  }
  a {
    color: white;
  }
}
#post-preview {
  background-color: white;
  div.col {
    align-items: center;
  }
}
#post-nav {
  a {
    color: $secondary;
    margin-right: 20px;
  }
  a:hover {
    color: $primary;
  }
}
.h1-list {
  color: $tertiary;
  font-size: 1.2em;
  margin-bottom: 30px;
}
#class-index {
  h3 {
    font-size: 1.2em;
    font-weight: 700;
    color: $primary;
    margin-bottom: 20px;
  }
  h4 {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
}
#class-subhead {
  h3 {
    color: $primary;
  }
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .h1-list {
    font-size: 2em;
  }
  #class-list {
    h3 {
      font-size: 2em;
    }
    h4 {
      font-size: 1.5em;
    }
  }
}
@media (min-width: 1050px) {
 
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
@media (min-width: 1750px) {

}