.preview {
  padding: 0;
  width: 300px;
  height: 300px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  h4 {
    text-transform: uppercase;
  }
  a {
    color: white;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-top: 3em;
    padding-bottom: 1em;
    margin-top: -3em;
    margin-bottom: -1em;
  }
}
.preview-full-bg {
  padding: 0;
  width: 300px;
  height: 300px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h4 {
    text-transform: uppercase;
  }
  a {
    color: white;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-top: 5em;
    padding-bottom: 5em;
    margin-top: -5em;
    margin-bottom: -5em;
  }
}
#post-preview {
  background-color: white;
  div.col {
    align-items: center;
  }
}
.bg-health {
  @include transparent-bg($success, 0.9);
  padding: 15px;
  line-height: 2;
}
.bg-development {
  @include transparent-bg($secondary, 0.9);
  padding: 15px;
  line-height: 2;
}
.bg-education {
  @include transparent-bg($warning, 0.9);
  padding: 15px;
  line-height: 2;
}
.bg-event {
  @include transparent-bg($highlight, 0.9);
  padding: 15px;
  line-height: 2;
}
.bg-news {
  @include transparent-bg($info, 0.9);
  padding: 15px;
  line-height: 2;
}
.post-container {
  color: $tertiary;
}
.post-sidebar {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  h4 {
    font-weight: 400;
    font-size: 1.25em;
  }
  i {
    margin-right: 20px;
    color: $success;
  }
  i:hover {
    color: $warning;
  }
  ul {
    margin-top: 40px;
    li {
      margin-bottom: 10px;
      text-transform: uppercase;
      a {
        color: $warning;
      }
      a:hover {
        color: $success;
      }
    }
  }
}
.post-categories {
  text-transform: uppercase;
}
.post-heading {
  background-color: #e5e3e3;
  background: 
    linear-gradient(
      rgba(#e5e3e3, 0.85),
      rgba(#e5e3e3, 0.85)
    ),
    url('./../images/post-background.jpg');
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: center, 50% center;
  h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.post-category {
  align-self: stretch;
}
.post-info {
  padding: 20px;
}
.featured-image {
  width: 400px;
  height: 400px;
  padding: 0;
}
.post-content {
  padding: 15px;
}
.post-navigation {
  a {
    color: $warning;
    margin-bottom: 30px;
  }
  a:hover {
    color: $success;
  }
}
#outer-button-group {
  margin-top: 50px;
}
#outer-grid, #outer-button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#outer-button-group button {
  font-size: 1.25em;
}
.button-group {
  display: flex;
  flex-direction: column;
}
.grid, .button-group {
  width: 90%;
}
#event-highlight {
  background-color: white;
  background-image: url('./../images/striped-rectangle.png');
  background-size: cover;
  background-position: top;
  padding-top: 90px;
  .event-info {
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 0;
  }
  img {
    width: 300px;
    margin-bottom: 20px;
  }
}
/* =================================
  Media Queries
==================================== */
/* Extra small devices (portrait phones, less than 576px)
- No media query since this should be the default styles */

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .grid {
    width: 320px;
  }
  .preview, .preview-full-bg {
    margin: 10px 10px;
  }
  .button-group {
    flex-direction: row;
  }
}
//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #event-highlight {
    .btn {
      align-self: flex-start;
    }
  }
  .grid {
    width: 640px;
  }
  .post-info {
    justify-content: flex-start;
    h1 {
      font-size: 2.25em;
      margin-top: 30px;
    }
  }
  .post-sidebar {
    flex-direction: row;
    justify-content: space-around;
  }
  .featured-image {
    width: 500px;
    height: 500px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #event-highlight img {
    width: 400px;
  }
  .featured-image {
    
    align-self: flex-end;
  }
}
@media (min-width: 1050px) {
  .grid {
    width: 960px;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #event-highlight img {
    width: 450px;
  }
  #outer-button-group button {
    font-size: 1.75em;
  }
  .post-container {
    background-repeat: repeat-x;
    display: flex;
    flex-direction: row-reverse;
  }
  .featured-image {
    width: 600px;
  }
}
@media (min-width: 1400px) {
  .grid {
    width: 1280px;
  }
  .post-sidebar {
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 30px;
    ul {
      width: 300px;
    }
  }
  .post-container {
    width: 80%;
    align-self: center;
  }
}
@media (min-width: 1750px) {
  .grid, .button-group {
    width: 1600px;
  } 
  #event-highlight img {
    width: 90%;
  }
  .post-container {
    width: 70%;
  }
}