---
---

// Color variables
$primary: #f7941d;
$secondary: #232c5b;
$tertiary: #459ed3;
$warning: #f04e29;
$success: #2a328f;
$info: #7d4895;
$highlight: #fbb040; //no button setup currently for $highlight

// Font import and variables
@import url('https://fonts.googleapis.com/css?family=Audiowide|Roboto|Roboto+Slab');

$font-main: 'Roboto Slab', serif;
$font-alt: 'Roboto', sans-serif;
$font-accent: 'Audiowide', cursive;

// Imports of Sass files
@import "mixins";
@import "base";
@import "responsive";
@import "buttons";
@import "navbar";
@import "footer";
@import "circles";
@import "posts";
@import "pages";
@import "video";
@import "form";
@import "custom";