---
---

// Color variables
$color1: #2c318c; //dark blue
$color2: #21a1a1; //teal
$color3: #f04e29; //orangish red
$color4: #7d4895; //purple
$color5: #2a328f;

$dark-brown: #594a42;

// Font import and variables
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Fira+Sans');

$font-main: 'Fira Sans', sans-serif;
$font-accent: 'Amatic SC', cursive;

// Imports of Sass files
@import "base";
@import "elements";
@import "flexbox";
