---
---

// Color variables
$primary: #2c318c;
$secondary: #21a1a1;
$tertiary: #594a42;
$warning: #f04e29;
$success: #2a328f;
$info: #7d4895;
$highlight: #fbb040; //no button setup currently for $highlight

// Font import and variables
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Fira+Sans');

$font-main: 'Fira Sans', sans-serif;
$font-accent: 'Amatic SC', cursive;

// Imports of Sass files
@import "mixins";
@import "base";
@import "responsive";
@import "buttons";
@import "navbar";
@import "footer";
@import "circles";
@import "posts";
@import "pages";
@import "video";
@import "form";
@import "custom";