---
layout: default
---
<div class="post-container">

  <div class="post-sidebar">
    <div>
      <a href="javascript:window.print()">
        <i class="fas fa-print fa-2x"></i>
      </a>
      <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
          rel="nofollow"
          class="share-button facebook"
          target="_blank">
        <i class="fas fa-share-alt fa-2x"></i>
      </a>
    </div>
    <ul>
      <li><h4>Categories</h4></li>
      <li><a href="{{ site.baseurl }}/news&events/">See All</a></li>
      <li><a href="{{ site.baseurl }}/news&events#filter=.health">Health for Life</a></li>
      <li><a href="{{ site.baseurl }}/news&events#filter=.education">Education for Tomorrow</a></li>
      <li><a href="{{ site.baseurl }}/news&events#filter=.development">Economic Empowerment</a></li>
      <li><a href="{{ site.baseurl }}/news&events#filter=.events">Events</a></li>
    </ul>
    
  </div>

  <div class="post-main">
  
    <div class="post-heading">

      <div class="full-width">
        <div class="post-info col">
          <h1 class="bg-{{page.categories.first}}">{{page.title}}</h1>

          <div class="post-category">
            <p>{{ page.date | date: '%Y' }}</p>
            <p>
              {{page.categories | array_to_sentence_string | upcase}}
            </p>
          </div>
        </div>
    
        {% if page.image %}
          <div class="featured-image col">
            <img src="{{ site.baseurl }}{{ page.image }}" alt="Post featured image">
          </div>
        {% endif %}
      </div>
    </div>
    
    <div class="post-content row">
      {{ page.content }}
    </div>

    <nav class="post-navigation">
      {% if page.previous.url %}
        <a href="{{ page.previous.url }}"><i class="fas fa-chevron-left"></i> {{page.previous.title | truncatewords: 5, '...'}}</a>
      {% endif %}
      {% if page.next.url %}
        <a href="{{ page.next.url }}">{{page.next.title | truncatewords: 5, '...'}} <i class="fas fa-chevron-right"></i></a>
      {% endif %}
    </nav>

  </div>

</div><!--end post-container-->

{% include newsletter.html %}