---
layout: default
---
<div id="post-nav" class="row">
  <a href="{{page.previous.url}}"><< Previous class</a>
  <a href="{{page.next.url}}">Next class >></a>
  <a href="{{site.baseurl}}/classes/">View all classes</a>
</div>
<div id="tertiary-header">
  <h2 class="font-main">Class info for {{ page.title }}</h2>
</div>
<div class="row">
  <div id="class-subhead" class="col">
    {% if page.categories contains "mwf" %}
    <h3>Monday, Wednesday and Friday from {{ page.class_time }}</h3>
    {% elsif page.categories contains "tth" %}
    <h3>Tuesday and Thursday from {{ page.class_time }}</h3>
    {% elsif page.categories contains "popup" %}
    <h3>Popup class! (one day only) starts at {{ page.class_time }}</h3>
    {% endif %}
    <small>{{ page.class_type }} for {{ page.class_duration }}, class size is {{ page.class_size }} people.</small>
  </div>
</div>
<div class="row">
  <div class="col">
    {{ page.content }}
  </div>
  
</div>
