---
layout: default
---
<div id="post-nav" class="row">
  <a href="{{page.previous.url}}"><< Previous class</a>
  <a href="{{page.next.url}}">Next class >></a>
  <a href="{{site.baseurl}}/classes/">View all classes</a>
</div>
<div id="tertiary-header">
  <h2 class="font-main">Class info for {{ page.title }}</h2>
</div>
<div class="row">
  <div id="class-subhead" class="col">
    {% if page.categories contains "mwf" %}
    <h3>Monday, Wednesday and Friday from {{ page.class_time }}</h3>
    {% elsif page.categories contains "tth" %}
    <h3>Tuesday and Thursday from {{ page.class_time }}</h3>
    {% elsif page.categories contains "popup" %}
    <h3>Popup class! (one day only) starts at {{ page.class_time }}</h3>
    {% endif %}
    <small>{{ page.class_type }} for {{ page.class_duration }}, class size is {{ page.class_size }} people.</small>
  </div>
</div>
<div class="row">
  <div class="col">
    {{ page.content }}
  </div>
  <!-- Calendly inline widget begin -->

  {% if page.class_type == "HIIT" %}
    <div class="calendly-inline-widget col" data-url="https://calendly.com/fitrx-classes/hiit" style="min-width:320px;height:630px;"></div>
  {% elsif page.class_type == "HIIT w/Core" %}
    <div class="calendly-inline-widget col" data-url="https://calendly.com/fitrx-classes/hiit-w-core" style="min-width:320px;height:630px;"></div>
  {% elsif page.class_type == "Circuit Training" %}
    <div class="calendly-inline-widget col" data-url="https://calendly.com/fitrx-classes/circuit-training" style="min-width:320px;height:630px;"></div>
  {% endif %}
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
  <!-- Calendly inline widget end -->
</div>
